<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blog, queries intro</title>
  </head>
  <body>
    <h1>Blog, queries intro</h1>
    {% for blog in blogs %}
      <h5>{{blog.title}}</h5>
      <p>{{blog.post}}</p>

      <p><b>Comment:</b></p>
      <div style="padding-left:30px">
        {% for comment in blog.comment_set.all %}
          <p>{{comment.comment}}</p>
        {% endfor %}
      </div>


        <form class="" action="/comments/{{blog.id}}" method="post">
          {% csrf_token %}
          <textarea name="comment" rows="2" cols="80"></textarea>
          <input type="submit" name="" value="Comment">
        </form>
    {% endfor %}
    <form class="" action="/blogs" method="post">
      {% csrf_token %}
      <hr>
      <h2>Write new Blog</h2>
      <p>WTitle</p>
      <input type="text" name="title" value=""><br>
      <textarea name="post" rows="8" cols="80"></textarea>
      <input type="submit" name="" value="Enter blog">
    </form>
  </body>
</html>
