<!DOCTYPE html>
<html>
    {% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <title>Disapearing ninjas</title>
    <link rel="stylesheet" href="{% static "" %}dninjas/css/style.css">
  </head>
  <body>

    <h1>Disapearing ninjas</h1>
    <!-- <img src="{% static "" %}dninjas/img/donatello.jpeg" class='ninjas' alt=""> -->
    <!-- <img src="{% static "" %}dninjas/img/michelangelo.jpeg" class='ninjas' alt=""> -->
    <img src="{% static "" %}dninjas/img/profile_leonardo.gif" class='ninjas' alt="">
    <!-- <img src="{% static "" %}dninjas/img/raphael-tmnt_3.png" class='ninjas' alt=""> -->
    <!-- <img src="{% static "" %}dninjas/img/tmnt.png" class='ninjas' alt=""> -->
    <!-- <img src="{% static "" %}dninjas/img/granny.jpeg" class='ninjas' alt=""> -->


  </body>
</html>
